@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Rubik+Distressed&display=swap');
*{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0%;
    scroll-behavior: smooth;
    box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  overflow-x: hidden;



  
}


@media (max-width: 700px) {


    .headcontain{

        #logo{

            width: 60px     !important;
            height: 70px    !important;
        }
    }

    #menubar{

    

        .insidemenu{


          

            h1{
                margin-right: 10%;
                font-size: 20px !important;

            }
           
        }
    }

}


@media (max-width: 1300px){
    

      .headcontain{

      
     
        #logo{

            width: 60px     !important;
            height: 70px    !important;
        }

        #menubar{
          
            display: none !important;
            background-color: black !important;
            transition: 0.2s ease-in-out!important;
            transform: translateX(0%);


         
            .insidemenu{

                height: 500px !important;
                width: 300px !important;

                h1{
                    
                    margin-top: 30% !important;
                }

            }
        }

    


        #logo{

            cursor:  pointer !important;
            display: block !important;
        }
   
       li{
           display: none;
       }
   
     
   }
   }

header{
    z-index: 2;
   position: fixed;
   width: 100%;
    background-color:rgb(251, 249, 249);
  

    .headcontain{

         
     

        #menubar{
            width: 100%;
            height: 100%;
            position: fixed !important;
            right: 0;
            z-index: 1;
            display: block;
            transform: translateX(100%);
            transition: 1s ease-in-out ;
            display: flex !important;
            justify-content: center;
            align-items: center;


            .insidemenu{

                height: 200px;
                width: 500px;
               
                text-align: center;



                h1{
                    cursor: pointer;
                    margin-top: 20px;
                    font-size: 30px;
                    position: relative;
                    white-space: nowrap;
                    overflow-y: hidden;


                    
                }

                h1:hover{
                    color: rgb(242, 135, 135) !important;
                    transition: 0.4s;
                }
                

                h1:before{
                    content: ".";
                   
                    left: 0;
                    position: absolute;
                    transition: 0.4s;
                    transform: scale(100%);
                    
                }

                h1:hover:before{

                      content: ".";
                      left: 0;
                      position: absolute;
                      transition: 0.4s;
                      color: red;
                      transform: scale(150%);
                    
                }
                
            }



            
        }


        display: flex;
        background-color: rgb(0, 0, 0);
        justify-content: space-between;
        height: 120px;

        h1{
            margin-left: 20%;
            color:white;
            z-index: 1;
            margin-top: 0.9em;
        }

  


        .logo1{ 
            margin-top: 0.5em;
            margin-left: 10%;
            display: block;
            z-index: 3;
        }

        #logo{
            
            margin-top:  1em;
            margin-right: 5%;
            display: none;
            width: 100px;
            height: 100px;
            z-index: 5;
        }



ul{
    
    margin-top: 2.5em;
    display: flex;
    white-space: nowrap ;
    list-style: none;
    gap: 2em;
    margin-right: 5%;

    li{
       
        color: white;
        font-size: 1.5em;
        

        a{
            position: relative;
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
        
    }

    }

 


}

a:before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    left: 0%;
    width: 0%;
    background-color: rgb(252, 252, 252);
    transition: 0.5s;
    border-radius: 2em;
}

}

a:hover:before{
    width: 100%;
}




//section nani dring dapita!


#video-section{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;


 
    .main-secword{

        height: 400px;
        width: 500px;
  
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        h1{

            color: rgb(6, 6, 6);
            
        }
    }


    video{

        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
}

//section 2 



#Mysample{

    height: 100vh;
    width: 100vw;
    background-color: black;
}